# Copyright 2021 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: "Python"

# GitHub Actions does not support anchors:
# https://github.com/actions/runner/issues/1182
# so we need to duplicate paths below and manually keep them in sync.
on:
  push:
    branches: [ main ]
    paths:
        # Python source files
      - '**/*.py'
        # Python config files
      - 'requirements.txt'
        # Cross-language build files and scripts
      - 'Makefile'
      - 'json_to_yaml_test.sh'
        # Test data
      - 'testdata/**'
        # Python CI configs
      - '.github/workflows/python.yaml' # this file

  pull_request:
    branches: [ main ]
    paths:
        # Python source files
      - '**/*.py'
        # Python config files
      - 'requirements.txt'
        # Cross-language build files and scripts
      - 'Makefile'
      - 'json_to_yaml_test.sh'
        # Test data
      - 'testdata/**'
        # Python CI configs
      - '.github/workflows/python.yaml' # this file

  schedule:
      # https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#schedule
      #
      #      ┌───────────── minute (0 - 59)
      #      │ ┌───────────── hour (0 - 23)
      #      │ │ ┌───────────── day of the month (1 - 31)
      #      │ │ │ ┌───────────── month (1 - 12 or JAN-DEC)
      #      │ │ │ │ ┌───────────── day of the week (0 - 6 or SUN-SAT)
      #      │ │ │ │ │
    - cron: '1 2 3 * *'  # run at 2:01 every month on the 3rd day

jobs:
  build-test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # TODO(mbrukman): fix the Python package installation on macOS to fix
        # these failures:
        # * https://github.com/mbrukman/yaml2json/runs/2213742057?check_suite_focus=true
        # * https://github.com/mbrukman/yaml2json/runs/2213742072?check_suite_focus=true
        #
        # Python 3.7 is no longer supported on x86_64:
        # https://raw.githubusercontent.com/actions/python-versions/main/versions-manifest.json
        os: [ 'ubuntu-24.04', 'macos-14' ]
        python: [ '3.10', '3.9', '3.8' ]
    name: Python ${{ matrix.python }} (${{ matrix.os }})
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}

      - name: Install dependencies
        run: make py-install VERBOSE=1

      - name: Run tests
        run: make py-test VERBOSE=1
